* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 100vh;
    border-bottom: 12px solid #6c6577;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    /*background: rgb(17,8,39);
    background: linear-gradient(0deg, rgba(17,8,39,1) 10%, rgba(34,0,95,1) 100%); */
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.villain {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: villain-animation 2s infinite linear;
}

@keyframes villain-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

.sonic {
    width: 150px;
    position: absolute;
    bottom: 0px;
}

.jump {
    animation: jump 500ms ease-out;
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

.gameover {
    display: none;
      width: 30%;
      margin-left: 35%;
      margin-top: 10%;
      position: absolute;
      animation: gameover-animation 2s forwards;
}



@keyframes gameover-animation {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }